@model Blog.Presenters.MultipleArticlePresenter

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@foreach(var article in Model.Articles)
{
    <div class="article">
        <div class="title">
            <h2>@article.Title</h2>
            <div class="date">
                @article.FormattedDate
            </div>
        </div>
        <div class="body">
            @article.Body
        </div>
    </div>    
}

<div class="other-articles">
    <ul class="indexes">
        @foreach(var articleIndex in Model.ArticleIndexes)
        {
            <li>
                <div class="index">
                    <div class="date">
                        @articleIndex.FormattedDate
                    </div>    
                    <div class="title">
                        <a href="@Html.Action("Article", new { slugTitle = articleIndex.SlugTitle })">@articleIndex.Title</a>
                    </div>    
                </div>
            </li>
        }
    </ul>
</div>
